.visual1{
   position: absolute;
   width: 100%;
   top: 0;
   left: -120px;
   max-width: 200px;
}

.rangkaianTextHeading{
   // position: relative;
   top: 10px;
   // padding-left: 15px;
   z-index: 3;
   
   @media only screen and (min-width: 690px) {
      top: 50px;
   }

   @media only screen and (min-width: 1024px) {
      top: 20px;
   }
}


.rangkaianHeadline{
   font-size: 2.7rem;
   text-align: left;
   // padding-bottom: 1.2rem;

   @media only screen and (min-width: 600px) {
      font-size: 3.9rem;
      
   }

   @media only screen and (min-width: 768px) {
      font-size: 4.9rem;
      text-align: right;
   }

   @media only screen and (min-width: 1024px) {
      font-size: 5.9rem;
   }
   
	//125%
	@media only screen and (min-width: 1300px) {
		font-size: 7.9rem;
	}

	//100%
	@media only screen and (min-width: 1600px) {
		font-size: 10rem;
	}
}


.line{
   height: 3px;
   width: 50%;
   // display: none;
   position: absolute;
   top: 0;
   right: 0;
   // background-color: #FC6238;
   @media only screen and (min-width: 768px) {
      // display: block;
      // width: 50%;
   }
}