.galeriUkm, .profileVideoUkm{
  aspect-ratio: 16/9;
}

.cardKegiatan{
  aspect-ratio: 1/1;
  background: #2AA58C;
  // border: 1px solid yellow;
}

.a1 {
	// margin: 0;
	// margin-top: -1rem;
	.ask {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// background-color: #ffffff;
		border-radius: 10px;
		cursor: pointer;
		padding: 1rem 1.5rem;
      @media only screen and (min-width: 640px) {
         padding: 1rem 2rem;
      }
      // font-size: .5rem;
		// color: #452b48;
		// color: #3f52ff;
		&:hover {
			background-color: #F9B66C;
			transition: background-color 0.5s;
			color: black;
		}

		h1 {
      color: white;
			font-size: 16px;
         @media only screen and (min-width: 640px) {
           font-size: 18px;
         }
			// font-weight: 600;
		}

		.faqIcon {
			width: 30px;
		}
	}

	.ans {
		/* display: none; */
		// text-align: justify;
		color: white;
		background-color: #F9B66C;
		border-radius: 10px;
		height: 0px;
		visibility: hidden;
		opacity: 0;
		
		transition: 0.3s ease all;
		overflow: auto;
		// display: none;
	}

	.show {
		// margin: 0.5rem 0 1.5rem 0;
		opacity: 1;
		// display: block;
		visibility: visible;
      padding: 1rem 2rem;
		// height: 180px;
		height: 180px;
      margin-top: .5rem;
		// height: 100%;
		/* max-height: 500px; */
		// padding: 1rem;
		// margin: .5rem;
	}
}


.ukmCaraousel{
  width: 100%;
  height: 100vh;
  max-width: 600px;
  max-height: 400px;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}